
@{
    ViewBag.Title = "New";
}

<h2>@ViewBag.Title</h2>
<p>Afisare formulare adaugare articol nou:</p>
<form method="post" action="/Article/New">
    <button type="submit">Adauga articol</button>
</form>


